# Analyze Test Results

This doc is about Test Results Analysis Report. Another use case is [Analyze Testing Activities](docs/katalon-testops/analytics/test-case-activity/analyze-execution-history.md)